<div class="table-responsive p-4">
  <div>
    <table class="table align-items-center">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name" (click)="sortTable('nomLog')">Nom</th>
          <th scope="col" class="sort" data-sort="budget" (click)="sortTable('typeLog')">Type</th>
          <th scope="col" class="sort" data-sort="status" (click)="sortTable('disponibilite')">Disponibilité</th>
          <th scope="col" class="sort" data-sort="completion" (click)="sortTable('statusPercentage')">Status</th>
          <th scope="col" class="sort" data-sort="completion">Actions</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="list">
        <tr *ngFor="let logistique of logistiques | sort: sortColumn: sortDirection">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="name mb-0 text-sm">{{ logistique.nomLog }}</span>
              </div>
            </div>
          </th>
          <td class="budget">{{ logistique.typeLog }}</td>
          <td>
            <span class="badge badge-dot mr-4">
              <i [ngClass]="getDisponibiliteBadgeClass(logistique.disponibilite)"></i>
              <span class="status">{{ logistique.disponibilite ? 'Disponible' : 'Hors stock' }}</span>
            </span>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span class="completion mr-2">{{ logistique.statusPercentage }}%</span>
              <div>
                <div class="progress">
                  <div class="progress-bar" [ngClass]="getStatusProgressBarClass(logistique.statusPercentage)" role="progressbar" [style.width.%]="logistique.statusPercentage"></div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="openEditModal(logistique)">Modifier</button>
            <button (click)="deleteLogistique(logistique.idLog)" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" #editModal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Modifier Logistique</h5>
        <button type="button" class="close" aria-label="Close" (click)="cancelEdit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form fields for editing logistique -->
        <form>
          <div class="form-group">
            <label for="editNom">Nom</label>
            <input type="text" class="form-control" id="editNom" [(ngModel)]="selectedLogistique.nomLog" name="editNom" required>
          </div>
          <div class="form-group">
            <label for="editType">Type</label>
            <input type="text" class="form-control" id="editType" [(ngModel)]="selectedLogistique.typeLog" name="editType" required>
          </div>
          <div class="form-group">
            <label for="editDisponibilite">Disponibilité</label>
            <select class="form-control" id="editDisponibilite" [(ngModel)]="selectedLogistique.disponibilite" name="editDisponibilite" required>
              <option value="true">Disponible</option>
              <option value="false">Hors stock</option>
            </select>
          </div>
          <div class="form-group">
            <label for="editStatus">Status</label>
            <input type="number" class="form-control" id="editStatus" [(ngModel)]="selectedLogistique.statusPercentage" name="editStatus" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelEdit()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="saveLogistiqueChanges()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>